<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <style>
        .record {
            width: 200px;
            height: 100%;
            background: rgba(111, 255, 204, 0.38);
            padding: 10px;
            margin: 10px;
        }

        .my-crud {
            text-decoration: none;
        }
    </style>
</head>
<body align="center">
    <div>
        <a href={% url "profile" %}>My account</a>
        <a href={% url "main" %}>Main page</a>
    </div>
    <h1>Карточки всех пользователей</h1>
    {% for object in objects %}
        <div  class="record">
         <p>Имя: {{ object.name }}</p>
            <p>Возраст: {{ object.age }}</p>
            <p>Рост: {{ object.height }}</p>
            <p>Пол: {{ object.gender }}</p>
            <a href="{% url 'change_profile' object.id %}" class="my-crud">✎</a>
            <a href="{% url 'delete_profile' object.id %}" class="my-crud">🗑</a>

        </div>
    {% endfor %}
</body>
</html>