<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body align="center">
    <div>
        <a href={% url "main" %}>Main page</a>
        <a href={% url "news" %}>News</a>
    </div>

    {% if name %}
        <h2>Ваш результат</h2>
        <p>Имя: {{ name }}</p>
        <p>Возраст: {{ age }}</p>
        <p>Рост: {{ height }}</p>
        <p>Вес: {{ weight }}</p>
        <p>ИМТ: {{ imt }}</p>
        <p>Диагноз: {{ description }}</p>
        <button type="button" onclick="history.back()">Назад</button>
    {% endif %}

    {% if form %}
    <form method="POST" action={% url 'profile' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
    {% endif %}
</body>
</html>