<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body align="center">
    <div>
        <a href={% url "main" %}>Main page</a>
        <a href={% url "news" %}>News</a>
    </div>

    {% if name %}
        <h2>Ваш результат</h2>
        <p>Имя: {{ name }}</p>
        <p>Возраст: {{ age }}</p>
        <p>Рост: {{ height }}</p>
        <p>Вес: {{ weight }}</p>
        <p>ИМТ: {{ imt }}</p>
        <p>Диагноз: {{ description }}</p>
        {%  if coef_p %}
            <p>ваш ИМТ больше среднего на {{ coef }}% среди всех</p>
        {% else %}
            <p>ваш ИМТ меньше среднего на {{ coef }}% среди всех</p>
        {% endif %}
        {% if size == 'xxl' or size == 'xxs' %}
            <p style="color:red">Для вашего размера одежды (талии) калькулятор может дать ошибочный ответ</p>
        {% endif %}
        <button type="button" onclick="history.back()">Назад</button>
    {% endif %}

    {% if form %}
    <form method="POST" action={% url 'profile' %}>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
    {% endif %}
</body>
</html>